{% extends "base.html" %}
{% block content %}

<div class="container-contact100">
    <div class="wrap-contact100">
        <form action="/dev/purchase" method="post" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Campus Coffee
				</span>
                <span class="contact100-form-subtitle">
                    {{ admin_message }}
                </span>

            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <span class="label-input100">FULL NAME *</span>
                <input class="input100" type="text" name="name" placeholder="Enter Your Name">
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Location">
                <span class="label-input100">Location *</span>
                <input class="input100" type="text" name="location" placeholder="Enter Your Location ">
            </div>

            <div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Enter Your Phone Number">
                <span class="label-input100">Phone *</span>
                <input class="input100" type="text" name="customer_number" placeholder="Enter Phone Number">
            </div>

            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Coffee Shop *</span>
                <div>
                    <select class="js-select2" name="shop">
                        <option>Please choose</option>
                        <option>Starbucks</option>
                        <option>Espresso Royale</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="w-full dis-none js-show-service">
                <div class="wrap-contact100-form-radio">
                    <span class="label-input100">What size drink do you want?</span>

                    <div class="contact100-form-radio m-t-15">
                        <input class="input-radio100" id="radio1" type="radio" name="size" value="small"
                               checked="checked">
                        <label class="label-radio100" for="radio1">
                            Small
                        </label>
                    </div>

                    <div class="contact100-form-radio">
                        <input class="input-radio100" id="radio2" type="radio" name="size" value="medium">
                        <label class="label-radio100" for="radio2">
                            Medium
                        </label>
                    </div>

                    <div class="contact100-form-radio">
                        <input class="input-radio100" id="radio3" type="radio" name="size" value="large">
                        <label class="label-radio100" for="radio3">
                            Large
                        </label>
                    </div>
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Enter Your Drink Name">
                    <span class="label-input100">Drink Name *</span>
                    <input class="input100" type="text" name="drink" placeholder="Enter Drink Name">
                </div>

                <div class="wrap-input100 bg0 rs1-alert-validate">
                    <span class="label-input100">Order Details</span>
                    <textarea class="input100" name="details" placeholder="i.e. cream and sugar"></textarea>
                </div>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
                </button>
            </div>
        </form>
    </div>
</div>


<!--===============================================================================================-->
<script src="/dev/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/bootstrap/js/popper.js"></script>
<script src="/dev/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });


        $(".js-select2").each(function () {
            $(this).on('select2:close', function (e) {
                if ($(this).val() == "Please chooses") {
                    $('.js-show-service').slideUp();
                }
                else {
                    $('.js-show-service').slideUp();
                    $('.js-show-service').slideDown();
                }
            });
        });
    })
</script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/daterangepicker/moment.min.js"></script>
<script src="/dev/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/dev/static/vendor/noui/nouislider.min.js"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [1500, 3900],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
</script>
<!--===============================================================================================-->
<script src="/dev/static/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

{% endblock %}